@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  margin: 0;
  height: 100%;
  background-image: url('./assets/images/leaves.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
